.titre
{
	text-align: center;
}

nav
{
    display: inline-block;
}

nav ul
{
    list-style-type: none;
    text-align: center;
}

nav li
{
	display: inline;
	list-style: none;
	padding-right: 20px;
}
ul
{
	text-align: center;
}
.page-header
{
	border-bottom: 20px black;
}

	
