.titre
{
	text-align: center;
}

nav
{
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 12px;
    padding-bottom:8px; 
}


nav ul
{
    list-style-type: none;
    text-align: center;
}
    

nav li
{
	display: inline;
	list-style: none;
	padding-right: 20px;
}
ul
{
	text-align: center;
}
.page-header
{
	border: 0px;
	padding-bottom: 11
}
.item-video
{
	height: 300px;
}
.image
{
	height: 250px;
	width: 180px;
}
.owl-carousel
{
	padding-top:10px; 
}
.container
{
	padding-top: 30px;
}
.paragraph1
{
	
	text-align: center;
}
.baground-color
{
	background-color: grey;
}
.pied-page
{
	background-color: black;
	color: white;
}
.image1
{
	height: 30px;
}


	
